**Instructions**


We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [1]:
# Libraries
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy.stats as stats

In [2]:
df = pd.read_csv("C:/Users/astri/Ironhack/Labs/lab-t-tests-p-values/files_for_lab/machine.txt",sep="\t", encoding="utf-16")
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

#### Define Hypotheses
- **Null Hypothesis (H₀)**: The new machine will pack faster on the average than the old machine.

- **Alternative Hypothesis (H₁)**: The new machine will pack slowest on the average than the old machine.

**Hypothesis**

H0: mu > x|


H1: mu < x|

In [3]:
df.columns

Index(['New machine', '    Old machine'], dtype='object')

In [7]:
df.rename(columns={"    Old machine": "Old machine"}, inplace=True)

In [9]:
df.columns

Index(['New machine', 'Old machine'], dtype='object')

In [11]:
# Extract times for new and old machines
new_machine = df["New machine"]
old_machine = df["Old machine"]

In [17]:
t_stat, p_value = stats.ttest_ind(new_machine, old_machine, alternative='greater')

print("Estadístico t:", t_stat)
print("Valor p:", p_value)


alpha = 0.05


if p_value > alpha:
    print("Fail to Reject the Null Hypothesis: The mean of the new machine is higer than the mean of the old machine")
else:
    print("Reject the Null Hypothesis: The mean of the new machine is lower than the mean of the old machine.")

Estadístico t: -3.3972307061176026
Valor p: 0.9983944287496127
Fail to Reject the Null Hypothesis: The mean of the new machine is higer than the mean of the old machine

In [ ]:
#We can conclude that the new machine improves the time production.